<div class="navbar navbar-expand-lg navbar-dark bg-safety" style="text-align:center">
  <a class="navbar-brand" href="#"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> {{title}} </font> </font> </a>
  <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "# navbarColor01" aria-controls = "navbarColor01" aria-expand = "false" aria-label = "Navegación de palanca ">
    <span class = "navbar-toggler-icon"> </span>
  </button>

  <div class = "collapse navbar-collapse" id = "navbarColor01">
    <ul class = "navbar-nav ">
      <li class = "nav-item">
        <button type = "button" class = "btn btn-safety" (click)="login()"> <span></span> Login </button>
      </li>
      <span></span>
      <li class = "nav-item">
        <button type = "button" class = "btn btn-safety" (click)="signup()"> <span></span> Sign Up  </button>
      </li>
      
    </ul>
  </div>
</div>

<ngb-tabset>
  <ngb-tab title="Inicio">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>
 
  <ngb-tab title="Quienes somos?" >
    <ng-template ngbTabContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Por que SafetyMTY?" >
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Seccion 'n'" >
    <ng-template ngbTabContent>

    </ng-template>
  </ngb-tab>

  <ngb-tab title="Contacto" >
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
</ngb-tabset>